<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ipclub.com.ipclub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.IPC_Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="._1_loginSection.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="._3_dashBoardSection.Dashboard"
            android:label="Dashboard" />
        <activity
            android:name="._4_vocabularySection.Vocabulary"
            android:label="Vocabulary"
            android:parentActivityName="._3_dashBoardSection.Dashboard" />
        <activity android:name="._6_classRoomSection.ClassRoomActivity" />
        <activity android:name="._2_changePasswordSection.ChangePasswordActivity" />
        <activity android:name="._6_classRoomSection.classRoomLesson.ClassRoomLessonActivity"></activity>
    </application>

</manifest>